html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;

  text-transform: uppercase;

  color: #000;
  background-color: #f2f2f2;
}

.background-photo {
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #766357;
}
  a {
  text-decoration: none;
  color: #000;
}
.main-navigation {
  font-size: 14px;
  line-height: 1,85;
  font-weight: bold;


  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: inherit;
}
.site-navigation a:hover{
color:#81b3d2;
}
.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}
.sedona-town {
  font-size: 21px;
  line-height: 1,23;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.reasons {
  font-size: 14px;
  line-height: 1,85;
  color: #333333;
  text-align: center;	
}
.convenience-list {
  list-style: none;
}
.convenience-item {
  text-align: center;
}
.gray-back {
background-color: #eeeeee;	
}

.convenience-item h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.convenience-item1 {
  font-size: 14px;
  line-height: 1,5;
  color: #333333;
  text-align: center;
}
.blue-back,
.convenience-item2 {
text-align: center;
color: #ffffff;
background-color: #81b3d2;
}
.blue-back h2{
font-weight: bold;
color: #ffffff;
}
.question{
font-size: 30px;
line-height: 1,2;
font-weight: bold;
text-align: center;
color:#000000
}
.question1{
font-size: 14px;
line-height: 1,71;
text-align: center;
color:#333333;
}
.search-options{
font-size: 14px;
line-height: 1,85
text-align: left;
}
.search-options input{
width: 346px;
background-color:#f2f2f2;
}
.brown-button {
width: 568px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#766357;
}
.blue-button {
width: 458px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#81b3d2;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}
.footer-contacts {
font-size: 21px;
line-height: 1,24;
text-align: left;	
}
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
 color: #ffffff;
 background-color: #81b3d2;
}

.footer-copyright {
  text-align: right;
}
.background-photo2 {
  background-image: url("img/filter-background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #766357;	
}
.selection-options fieldset {
  border: none;
}
.selection-options{
font-size: 16px;
line-height: 1,31;
text-align: left;
color:#ffffff;
}
.selection-item{
font-size: 14px;
line-height: 1,5;
text-align:left;
color:#ffffff;
}
.button-show{
width: 65px;
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align: left;
color: #ffffff;
background-color: #766357;
}
.hotels{
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: left;
color: #000000;
}
.hotel-cost{
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align:left;
color: #333333;
}
.appraisal{
width: 110px;
height: 27px;
font-size: 14px;
line-height: 1,5;
text-align: center;
color: #666666;
background-color: #f2f2f2;
}
.more-details{
width: 110px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #81b3d2;
}
.reservation{
width: 142px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #766357;
}
