html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;

  text-transform: uppercase;

  color: #000;
  background-color: #f2f2f2;
}
.container{
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.background-photo {
  background-image: url(../img/polygon.png), url(../img/background-photo.jpg);
  background-position: bottom; top center;
  background-repeat: no-repeat;
  background-color: #766357;
}
.promo-picture img {
  position: relative;

  margin: 0;
  margin-left: 50%;
  padding-top: 76px;
  padding-bottom: 70px;

  transform: translateX(-50%);
}
  a {
  text-decoration: none;
  color: #000;
}
  .visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 1,85;
  font-weight: bold;


  background-color: #ffffff;
}
.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 72px;
  list-style: none;
}
.main-header-logo{
  position: absolute;
  z-index: 1;
  margin-left: 50%;

  transform: translateX(-50%);
}
.navigation-item {
  width: 25%;
  margin: 0;
  padding: 15px 0; 
  
  font-weight: bold;
}

.navigation-item:last-child,
.navigation-item:nth-child(3) {
  text-align: right;
}

.navigation-item:nth-child(3) {
  margin-left: 82px;
}

 .convenience-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.convenience ul {
  display: flex;
  flex-direction: row;
}

.convenience-item {
  display: flex;
  text-align: center;
}
.convenience-info{
  width: 400px;
  padding-top: 46px;
  padding-bottom: 57px;
  background-color: #eeeeee;
}
.convenience-info p{
  width: 280px;
  margin: 0 auto;
  padding-top: 25px;
}

.convenience-info p:last-child {
  padding-top: 20px;
}

.convenience-info-last p {
  width: 259px;
}
.img-wrap {
  width: 800px;
}

.img-wrap img {
  display: block;
}
.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }

.site-navigation a {
  color: inherit;
}
.site-navigation a:hover{
color:#81b3d2;
}
.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}
.sedona-town {
  font-size: 21px;
  line-height: 1,23;
  font-weight: bold;
  color: #000000;
  text-align: center;

}
.reasons {
  font-size: 14px;
  line-height: 1,85;
  color: #333333;
  text-align: center;	
}

.advantages-item{
  text-align: center;
}
.gray-back {
background-color: #eeeeee;	
}

.convenience-item h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.advantages-item h2{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.advantages-item1 {
  font-size: 14px;
  line-height: 1,5;
  color: #333333;
  text-align: center;
}
  .advantages-item {
  width: 33.33%;
  padding-top: 140px;
  padding-right: 55px;
  padding-bottom: 70px;
  padding-left: 60px;
}

.advantages-item p {
  margin-top: 24px;
}

.advantages .house {
  position: relative;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .souvenirs {
  position: relative;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .food {
  position: relative;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}
.blue-back,
.convenience-item2 {
text-align: center;
color: #ffffff;
background-color: #81b3d2;
}
.blue-back h2{
font-weight: bold;
color: #ffffff;
}
.question{
font-size: 30px;
line-height: 1,2;
font-weight: bold;
text-align: center;
color:#000000
}
.question1{
font-size: 14px;
line-height: 1,71;
text-align: center;
color:#333333;
}
.search-options{
font-size: 14px;
line-height: 1,85
text-align: left;
}
.search-options input{
width: 346px;
background-color:#f2f2f2;
}
.brown-button {
width: 568px;
height: 86px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#766357;
}
.blue-button {
width: 458px;
height: 58px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#81b3d2;
}

.index-footer {
  position: absolute;
  bottom: 0;

  background-color: rgba(254, 254, 254, .9);
}

.page-footer {
  position: relative;
  z-index: 1;

  display: flex;

  margin: 0;
  padding-top: 33px;
  padding-bottom: 32px;

  color: #000;

  align-items: center;
}



.contacts {
  display: flex;
  flex-direction: column;

  margin: 0 auto; 
  margin-left: 124px;
  
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer-parth {
  display: flex;
  width: 400px;
}

.tel {
  padding-top: 5px;
}


.socials {
  display: flex;
  margin: 0 auto;
}

.socials-list {
  display: flex;
  margin: 0 auto;
}

.socials-item {
  position: relative;

  display: flex;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.socials-item a {
  width: 46px;
}

.socials-item:not(:last-child) {
  margin-right: 6px;
}

.socials-item a:focus,
.socials-item a:hover {
  background-color: #669ec0;
}

.socials-item a:active {
  background-color: #669ec0;
}

.twitter::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.facebook::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube::before {
  position: absolute;

  width: 46px;
  height: 48px;

  content: '';

  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.twitter:active,
.facebook:active,
.youtube:active {
  opacity: .3;
}

.copyright {
  display: flex;

  margin: 0 auto;

  align-items: center;
}

.copyright p {
  margin-top: 10px;
}

.htmlacademy-logo {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.htmlacademy-logo:hover svg,
.htmlacademy-logo:focus svg {
  width: 115px;
  height: 41px;

  fill: #81b3d2;
}

.htmlacademy-logo:active svg {
  width: 115px;
  height: 41px;

  fill: #bdbbbc;
}

.background-photo2 {
  background-image: url("img/filter-background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #766357;	
}
.selection-options fieldset {
  border: none;
}
.selection-options{
font-size: 16px;
line-height: 1,31;
text-align: left;
color:#ffffff;
}
.selection-item{
font-size: 14px;
line-height: 1,5;
text-align:left;
color:#ffffff;
}
.button-show{
width: 65px;
height: 32px;
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align: left;
color: #ffffff;
background-color: #766357;
}
.hotels{
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: left;
color: #000000;
}
.hotel-cost{
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align:left;
color: #333333;
}
.appraisal{
width: 110px;
height: 27px;
font-size: 14px;
line-height: 1,5;
text-align: center;
color: #666666;
background-color: #f2f2f2;
}
.more-details{
width: 110px;
height: 27px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #81b3d2;
}
.reservation{
width: 142px;
height: 11px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #766357;
}
