html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;

  text-transform: uppercase;

  color: #000;
  background-color: #f2f2f2;
}
.container{
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, .2);
}

.background-photo {
  background-image: url("img/background-photo.jpg"),url("intro-mask.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #766357,url("intro-mask.svg");
}
.promo-picture img {
  position: relative;

  margin: 0;
  margin-left: 50%;
  padding-top: 76px;
  padding-bottom: 70px;

  transform: translateX(-50%);
}
  a {
  text-decoration: none;
  color: #000;
}
  .visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 1,85;
  font-weight: bold;


  background-color: #ffffff;
}
.site-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 72px;
  list-style: none;
}
.main-header-logo{
  position: absolute;
  z-index: 1;
  margin-left: 50%;

  transform: translateX(-50%);
}
.navigation-item {
  width: 25%;
  margin: 0;
  padding: 15px 0; 
  
  font-weight: bold;
}

.navigation-item:last-child,
.navigation-item:nth-child(3) {
  text-align: right;
}

.navigation-item:nth-child(3) {
  margin-left: 82px;
}
.convenience ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.footer-social ul {
  list-style: none;
 }
.site-navigation a {
  color: inherit;
}
.site-navigation a:hover{
color:#81b3d2;
}
.site-navigation a:active {
color: rgba(0, 0, 0, 0.3);
}
.sedona-town {
  font-size: 21px;
  line-height: 1,23;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.reasons {
  font-size: 14px;
  line-height: 1,85;
  color: #333333;
  text-align: center;	
}

.convenience-item {
  text-align: center;
}
.advantages-item{
  text-align: center;
}
.gray-back {
background-color: #eeeeee;	
}

.convenience-item h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.advantages-item h2{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.advantages-item1 {
  font-size: 14px;
  line-height: 1,5;
  color: #333333;
  text-align: center;
}
  .advantages-item {
  width: 33.33%;
  padding-top: 140px;
  padding-right: 55px;
  padding-bottom: 70px;
  padding-left: 60px;
}

.advantages-item p {
  margin-top: 24px;
}

.advantages .house {
  position: relative;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .souvenirs {
  position: relative;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}

.advantages .food {
  position: relative;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: left 162px top 60px;
  background-size: 75px 72px;
}
.blue-back,
.convenience-item2 {
text-align: center;
color: #ffffff;
background-color: #81b3d2;
}
.blue-back h2{
font-weight: bold;
color: #ffffff;
}
.question{
font-size: 30px;
line-height: 1,2;
font-weight: bold;
text-align: center;
color:#000000
}
.question1{
font-size: 14px;
line-height: 1,71;
text-align: center;
color:#333333;
}
.search-options{
font-size: 14px;
line-height: 1,85
text-align: left;
}
.search-options input{
width: 346px;
background-color:#f2f2f2;
}
.brown-button {
width: 568px;
height: 86px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#766357;
}
.blue-button {
width: 458px;
height: 58px;
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: center;
color: #ffffff;
background-color:#81b3d2;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #000000;
  background-color: #ffffff;
}
.footer-contacts {
font-size: 21px;
line-height: 1,24;
text-align: left;	
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.social-button {
 color: #ffffff;
 background-color: #81b3d2;
}

.footer-copyright {
  text-align: right;
}
.background-photo2 {
  background-image: url("img/filter-background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #766357;	
}
.selection-options fieldset {
  border: none;
}
.selection-options{
font-size: 16px;
line-height: 1,31;
text-align: left;
color:#ffffff;
}
.selection-item{
font-size: 14px;
line-height: 1,5;
text-align:left;
color:#ffffff;
}
.button-show{
width: 65px;
height: 32px;
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align: left;
color: #ffffff;
background-color: #766357;
}
.hotels{
font-size: 21px;
line-height: 1,24;
font-weight: bold;
text-align: left;
color: #000000;
}
.hotel-cost{
font-size: 14px;
line-height: 1,5;
font-weight: normal;
text-align:left;
color: #333333;
}
.appraisal{
width: 110px;
height: 27px;
font-size: 14px;
line-height: 1,5;
text-align: center;
color: #666666;
background-color: #f2f2f2;
}
.more-details{
width: 110px;
height: 27px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #81b3d2;
}
.reservation{
width: 142px;
height: 11px;
font-size: 14px;
line-height: 1,5;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #766357;
}
